[submodule "psd_ws/src/psd_perception"]
	path = psd_ws/src/psd_perception
	url = git@github.com:SmartDrive-UniPi/psd_perception.git
	branch = main
	
[submodule "psd_ws/src/psd_slam"]
	path = psd_ws/src/psd_slam
	url = git@github.com:SmartDrive-UniPi/psd_slam.git
	branch = main
	
[submodule "psd_ws/src/custom_msgs"]
	path = psd_ws/src/custom_msgs
	url = git@github.com:SmartDrive-UniPi/custom_msgs.git
	branch = main
	
[submodule "psd_docker"]
	path = psd_docker
	url = git@github.com:SmartDrive-UniPi/psd_docker.git
	branch = orin

[submodule "psd_ws/src/ros2_can_interface"]
	path = psd_ws/src/ros2_can_interface
	url = https://github.com/rimaturus/ros2_can_interface.git
	branch = master
